<html lang="en"><head>
<title> Meet Me: Free Times</title>
<link rel="stylesheet" type="text/css"
href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<link rel="stylesheet" type="text/css"
href="/static/css/busy.css"
/>

</head>

<body>
	<div class="container">
        <h1>Free times found</h1>
        <h5>(Dates not shown are considered inactive and ineligible.)</h5>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <hr>
            {% if session.display_times is defined  %}
                {% for fr_time in session.display_times %}
                <div class="row">
                    <div class="col-md-4">
                        {{ fr_time['start'] }} to {{ fr_time['disp_end'] }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            <div class="row"></div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <input style="display: table-cell" type="button" onclick="document.location='/manage'" value="Next"/>&nbsp;<input style="display: table-cell" type="button" onclick="document.location='/index'" value="Back"/>
            </div>
        </div>
	</div><!--container-->
</body>

</html>