<html lang="en"><head>
<title> Meet Me: Manage Schedules</title>
<link rel="stylesheet" type="text/css"
href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<link rel="stylesheet" type="text/css"
href="/static/css/busy.css"
/>

</head>

<body>
	<div class="container">
        <h1>Schedules found</h1>
        <h5>Manage schedules:</h5>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <hr>
        {% if session.schedules is defined  %}
            {% for entry in session.schedules %}
                <form action="/_delete" method="post">
                    <div class="schedule">
                        <div class="row">
                            <div class="col-md-4">
                                {{ entry.author }}
                            </div>
                            <div class="col-md-2">
                                <input type="hidden" name="entryID" value="{{ entry._id }}"/>
                                <input type="submit" value="Delete?"/>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- schedule -->
                </form>
            {% endfor %}
            {% if session.schedules %}
                <div class="row">
                    <div class="col-md-4">
                        <input style="display: table-cell" type="button" onclick="document.location='/index'" value="Restart"/>&nbsp;<input style="display: table-cell" type="button" onclick="document.location='/select_schedules'" value="Next"/>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if not session.schedules %}<!-- Renders the error section, if no schedules are found. -->
            <p>No schedules found. You must have deleted too many, including your own!
            <br> If you need another person's schedule, they must propose another meeting
            <br>for it to be available again.
            <br>
            <br>Tip: Be careful while managing schedules to avoid this message.
            </p>
            <br>
            <input style="display: table-cell" type="button" onclick="document.location='/index'" value="Restart"/>&nbsp;<input style="display: table-cell" type="button" onclick="document.location='/choose'" value="Re-submit"/>
        {% endif %}
        
	</div><!--container-->
</body>
</html>